/*--------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 1440px;
	font-size: 100%;
	font-family: Lato;
	line-height: 1;
	font-size: 16px;
	color: #232323;
	background-color: #e9e7e7;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.menu__item:after{
	display: block;
	position: relative;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #232323;
	content: "";
	transition: width 0.5s ease-out;
}

.menu__item:hover::after{
	width: 100%;
}


.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: url(../img/background.jpg) 0 0/cover no-repeat;
}

._container {
	max-width: 1202px;
	margin: 0px auto;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

._button {
	border-radius: 6px;
	display: flex;
	min-height: 54px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	text-align: center;
	line-height: 200%;
	padding: 0px 58px;
}

/*-----------------------------HEADER-----------------------------*/

.header {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	font-size: 24px;
}
.header__container {
	display: flex;
	min-height: 242px;
	align-items: center;
}

.header__buttons {
	display: flex;
}

.header__buttons:last-child {
	margin-left: auto;
}

.header__button {
	background: #fff;
	color: #232323;
	border: 4px solid #232323;
	font-weight: 900;
}

.header__menu {
}
.menu {
}
.menu__list {
	display: flex;

}
.menu__item {
}

.menu__item:not(:last-child) {
	margin: 0px 81px 0px 0px;
}

.menu__link {
	color: #5b5b5f;
	line-height: 171%;
}

.menu__link_bold {
	font-weight: 900;
}

/*---------------------------------------------------------------*/



/*-----------------------------PAGE-----------------------------*/

.page {
	flex: 1 1 auto;
	
}

.page__main-block {
}

.page__memory {
	z-index: 5;
	background: url(../img/background_black_1.jpg) 0 0/cover no-repeat;
}

.page__variants {
}

.page__places {
}

.page__addvantages {
}

.page__choose{
   background: url(../img/background_black_2.jpg) 0 0/cover no-repeat;
}
/*-----------------------------PAGE__1-----------------------------*/


.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 0px 0px 159px 0px;
	display: flex;
	position: relative;
	z-index: 2;
}

.main-block__content{
	flex: 1 1 auto;
	padding: 0px 108px 0px 0px;
}

.main-block__title {
	flex: 0 0 55%;
	font-weight: 800;
	font-size: 80px;
	font-family: Cardo;
}
.main-block__text {
	display: block;
	text-align: justify;
}

.main-block__title:not(:last-child) {
	margin: 0px 0px 34px 0px;
}
.main-block__text:not(:last-child) {
	margin: 0px 0px 43px 0px;
}
.main-block__buttons {
	display: inline-flex;
}

.main-block__button {
	background: #232323;
	color: #e9e7e7;
	border: 4px solid #232323;
	font-size: 16px;
	font-weight: 900;
}


.main-block__image {

}

/*---------------------------------------------------------------*/


/*-----------------------------PAGE_MEMORY-----------------------------*/


.memory {
	
}
.memory__container {
}
.memory__header {
	padding: 46px 0px 55px 0px;
	text-align: center;
}
.memory__title {
	font-size: 56px;
	font-family: Cardo;
	font-weight: 800;
	color: #e9e7e7;
}

.memory__title:not(:last-child) {
	margin: 0px 0px 23px 0px;
}

.memory__text {
	display: block;
	color: #e9e7e7;
	line-height: 1.3;
}

.memory__text:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.memory__buttons {
	display: inline-flex;
}
.memory__button {
	background: #232323;
	border: 4px solid #e9e7e7;
	color: #e9e7e7;
	font-size: 21px;
	font-weight: 1100;
}

._memory-container {
	max-width: 450px;
	margin: 0px auto;
	box-sizing: content-box;
}
/*---------------------------------------------------------------*/

/*-----------------------------PAGE_VARIANTS-----------------------------*/

.variants {
	
}
.variants__container {
}
.variants__items {
	padding: 166px 0px 0px 0px;
	display: flex;
}
.variants__item {
	margin: 0px 29.5px 0px 29.5px;
}
.variants__item:first-child {
	margin: 0px 29.5px 0px 0px;
}
.variants__item:last-child {
	margin: 0px 0px 0px 29.5px;
}
.item-variant {
}
.item-variant__image {
	position: relative;
	display: inline-block;
	padding: 0px 0px 60px 0px;
}

.item-variant__image::after {
	content: " ";
	background: #000;
	width: 52px;
	height: 3px;
	bottom: 26px;
	left: 0px;
	position: absolute;
}

.item-variant__title {
	font-size: 36px;
	font-weight: 900;
	font-family: Cardo;
}

.item-variant__title:not(:last-child) {
	margin: 0px 0px 26px 0px;
}

.item-variant__text {
	display: block;
	text-align: justify;
	font-size: 18px;
	color: #000;
}

/*---------------------------------------------------------------*/

/*-----------------------------PAGE_PLACES-----------------------------*/


.places {
}
.places__container {
}

/* ! calculate padding again later*/
.places__header {
	text-align: center;
	padding: 390px 0px 0px 0px;
}

.header-block {

}

.header-block__icon {
	text-align: center;
	padding: 15px 0px 15px 0px;
}

.header-block__title {
	font-size: 98px;
	font-family: Cardo;
	font-weight: 1000;
	padding: 46px 0px 65px 0px;
	
}

.header-block__underlined {
	text-decoration: underline;
	text-underline-offset: 14px;
	text-decoration-thickness: 4px;
	transform:skew(-10deg);
	display: inline-block;
}

.header-block__subtitles {
	display: inline-flex;
	font-size: 24px;
	width: 100%;
	justify-content: center;
}

.header-block__subtitle{
	padding: 0px 5px 0px 5px;
	border-right: 4px solid #232323;
	font-weight: 800;
}
.header-block__subtitle:last-child {
	border-right: none;
}

/*----------------------------------------------------------------*/

/*----------------------------PAGE_TAPE----------------------------------*/


.opportunities__container{
	display: flex;
}

.opportunities__image {
	position: relative;
	padding: 269px 0px 47px 0px;
}

.content-part{
	padding: 269px 0px 0px 0px;
	margin: 0px 2px 0px 43px;
}
.content-part__all-text {
	display: flex;
}

.content-part__image{
	
	margin: 0px 0px 39px 0px;
}

.image__tape{
	position: absolute;
	opacity: 0.9;
	z-index: 10;
	top: 524px;
	left: -35px;
}

.content-part__title {
	font-size: 36px;
	font-weight: 1000;
	font-family: Cardo;
	text-decoration: underline;
	line-height: 1.4;
	margin: 30px 0px 0px 0px;
	color: #232323;
}

.content-part__text {
	display: block;
	margin: 38px 0px 0px 0px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	text-align: justify;
	color: #232323;
}

.content-part__buttons {
	display: inline-flex;
	width: 100%;
	min-height: 142px;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

.content-part__button {
	min-height: 53px;
	max-width: 143px;
}


/*---------------------------------------------------------------*/
/*-----------------------------PAGE_CHOOSE-----------------------------*/
.content-part-black{
	color: #fff;
	position:absolute;
	left: 120px;
	top: 156px;
	width: 452px;
}

.choose {
	
}

.choose__container {
	max-width: 1440px;
	height: 871px;
	width: 1440px;
	position: relative;
}
.content-part-black__title1 h3{
	font-family: Cardo;
	font-weight: 800;
	font-size: 56px;
	width: 470px;
	position:absolute;
}
#choose_text1{
	position: absolute;
	top: 225px;
}
#choose_text2{
	position: absolute;
	top: 422px;
}
.content-part-black__title2{
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 15px;
	font-family: Lato;
}
.content-part-black__text{
	font-weight: 400;
	font-size: 16px;
	text-align: justify;
	font-family: Lato;
	line-height: 1.2;
}
.choose__image{
	position:absolute;
	top: 156px;
	right: 0px;
}
/*----------------------------PAGE_ADVANTAGES----------------------------------*/


.addvantages {
}
.addvantages__container {
}

.advantages__body {
	padding: 178px 0px 0px 0px;
	display: flex;
}
.advantages__content {
	margin: 0px 40.5px 0px 0px;
}
.addvantages__title {
	font-weight: 800;
	font-size: 80px;
	font-family: Cardo;
}
.addvantages__list-of {
	display: flex;
	flex-direction: column;
}

.list-of {
	margin: 108px 0px 0px 0px;
}
.list-of__list-element {
	display: inline-flex;
	min-height: 62px;
}
.list-element {
	border-top: 4px solid #232323;
	position: relative;
}
.list-element:last-child {
	border-bottom: 4px solid #232323;
}

.list-element__text {
	margin-left: 44px;
	font-weight: 400;
	font-size: 16px;
	position: absolute;
	top: 40%;
}
.list-element__symbol {
	display: block;
	min-height: 19px;
	min-height: 19px;
	position: absolute;
	right: 46px;
	top: 40%;
}

.addvantages__image {
	display: block;
	margin: 0px 0px 0px 40.5px;
}
/*---------------------------------------------------------------*/


/*-----------------------------CUSTOMER_REVIEWS-----------------------------*/
.swiper {
	
	width: 100%;
	height: 100%;
}

.swiper-slide {
	
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


.customer-reviews {
}
.customer-reviews__container {
}

.customer-reviews__header {
	text-align: center;
	
}
.header-block-review {
}
.header-block-review__title {
	padding: 294px 0px 0px 0px;
	margin: 0px 0px 48px 0px;
	font-weight: 800;
	font-size: 80px;
	font-family: Cardo;
}
.customer-reviews__customers {
	
}
.customers {
	
}

.customers__wrapper {
	
}

.customers__customer {
	border: 4px solid #232323;
	border-radius: 12px;
	max-height: 425px;
}
.customer {
	margin: 0px 0px 44px 0px;
}

.customer__wrapper {
	text-align: center;
	margin: 74px 41px 69px 42px;
}

.customer__icon {
}
.customer__name {
	font-weight: 800;
	font-size: 20px;
	margin: 49px 0px 24px 0px;
}
.customer__text {
	display: block;
	color: #757575;
}

.swiper-pagination {
	
}

.swiper-slide img {

	max-width: 136px;
	min-height: 136px;;
	object-fit: cover;
}

.customer-reviews__customers [class^="swiper-button-"]::after {
	content: "";
}

.customer-reviews__customers .swiper-button-prev {
/*	background-image: url(/img/button_small_left.jpg);
	position: absolute;*/
	min-width: 87px;
	min-height: 77px;
	top: 200px;
	left: -40px;
}


.customer-reviews__button-back {
	cursor: pointer;
	position: relative;
	z-index: 20;
	top: -300px;
	left: -42px;
}

.customer-reviews__button-forward {
	cursor: pointer;
	position: relative;
	z-index: 20;
	top: -376.5px;
	left: 1150px;
}

/*---------------------------------------------------------------*/


/*-----------------------------FORM-----------------------------*/
.page__form-update {
}
.form-update {
}
.form-update__container {
	display: flex;
	max-height: 731px;
}
.form-update__form-part {
}
.form-part {
	position: relative;
}
.form-part__title {
	font-size: 80px;
	font-family: Cardo;
	font-weight: 800;
	margin: 0px 0px 39px 0px;
}
.form-part__main-form {
}
.main-form {
	
}

.main-form > div {
	margin: 0px 0px 26px 0px;
}


.main-form__name {	
}

.main-form__name > input {
	border: 4px solid #232323;
	border-radius: 8px;
	height: 59px;
	width: 100%;
	padding: 7px 0px 0px 30px;
	font: normal 18px/1.5 normal;
}

.main-form__name > input::placeholder {
	font-size: 18px;
	font-family: Lato;
	color: #232323;
}

.main-form__lastname {

}
.main-form__lastname > input {
	border: 4px solid #232323;
	border-radius: 8px;
	height: 59px;
	width: 100%;
	padding: 7px 0px 0px 30px;
	font: normal 18px/1.5 normal;
}

.main-form__lastname > input::placeholder {
	font-size: 18px;
	font-family: Lato;
	color: #232323;
}

.main-form__email {
}
.main-form__email > input {
	border: 4px solid #232323;
	border-radius: 8px;
	height: 59px;
	width: 100%;
	padding: 7px 0px 0px 30px;
	font: normal 18px/1.5 normal;
}

.main-form__email > input::placeholder {
	font-size: 18px;
	font-family: Lato;
	color: #232323;
}

.main-form__comment {

}

.main-form__comment > textarea {
	border: 4px solid #232323;
	border-radius: 8px;
	height: 224px;
	width: 100%;
	resize: none;
	padding: 7px 0px 0px 30px;
	font: normal 18px/1.5 normal;
}
.main-form__comment > textarea::placeholder {
	font-size: 18px;
	font-family: Lato;
	color: #232323;
}

.main-form__buttons {

}

.main-form__button {
	position: absolute;
	bottom: 0;
	height: 67px;
	width: 100%;
	background: #232323;
	color: #e9e7e7;
	border: 4px solid #232323;
	font-size: 16px;
	font-weight: 900;
	font-weight: normal;
	font-size: 20px;
}
.form-update__image-part {
	display: block;
	margin: 0px 0px 0px 91px;
}
/*---------------------------------------------------------------*/


/*-----------------------------FOOTER-----------------------------*/

.footer {
	color: #232323;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 200px;
	background: url(../img/footer-background.jpg) 0 0/cover no-repeat;
}

.FooterName h2 {
	margin-top: 113px;
	margin-left: 70px;
	max-width: 300px;
	padding: 0 20px;
	font-family: Cardo;
	font-size: 63px;
	font-weight: 1000;
}

.quick-links h2 {
	margin-top: 117px;
	margin-left: -3px;
	padding: 0 20px;
	font-size: 25px;
	font-family: Lato;
	font-weight: 700;
}

.Section1, .Section2, .Section3, .Section4 {
	margin-top: 190px;

	flex-direction: column;
	padding-right: 150px;
}

.Section1 ul, .Section2 ul, .Section3 ul, .Section4 ul {
	list-style-type: none;
	margin-left: -197px;

}

.Section1 li, .Section2 li, .Section3 li, .Section4 li {
	margin-bottom: 30px;

}

.Section1 a, .Section2 a, .Section3 a, .Section4 a {
	font-size: 20px;
	font-weight: 500;
	color: #232323;
	text-decoration: none;
}

.Section1 a:hover, .Section2 a:hover, .Section3 a:hover, .Section4 a:hover {
	text-decoration: underline;
}

.copyright {
	margin-top: 97px;
	margin-left: 0;
	text-align: center;
	width: 100%;
}

.copyright h2 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
.space{
	margin-top: 50px;
	text-align: center;
	width: 100%;
}
.space h2 {
	margin-top: 72px;
}
/*---------------------------------------------------------------*/